<!DOCTYPE html>
<html>
<head>
  <title>Learning Vue.js, classes</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="vue108.css">
</head>
<body>
<a href="index.html">Back</a>
  <div id="app">
    <div class="region" :class="{active: isActive, bounded: isBounded}" @click="isActive=!isActive"></div>
    <div class="region"></div>
    <div class="region" :class="classObj"></div>
    <button @click="isActive=!isActive">Toggle color</button>
    <button @click="isBounded=!isBounded">Toggle border</button>

    <div class="region" :class="[color, {bounded: isBounded}, size]"></div>
    <input type="text" v-model="color" />
    <input type="text" v-model="size" />
  </div>
  <script src="vue.js"></script>
  <script src="vue108.js"></script>
</body>
</html>