<!DOCTYPE html>
<html>
<head>
  <title>Learning Vue.js, vue object</title>
  <meta charset="UTF-8" />
</head>
<body>
<a href="index.html">Back</a>
  <div id="app1">
    <input type="text" v-model="name" />
    <input type="number" v-model="age" />
    <p>{{name}} - {{age}} - {{position}}</p>
  </div>

  <div id="app2">
    <input type="text" v-model="title" />
    <button @click="onClick">Change</button>
  </div>

  <script src="vue.js"></script>
  <script src="vue111.js"></script>
</body>
</html>